@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #23272b;
    color: #b3b7bb;

}

.navbar {
    background-color: #1b1e21;
    border-bottom: 1px solid #b9bbbe;
    color: #b3b7bb;
}

a, .btn-link {
    color: #e0a800;
}


.btn-primary {
    color: #fff;
    background-color: #663C09;
    border-color: #673D10;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

th {
    white-space: nowrap;
}
.repeaterDetails tr td {

    padding-bottom: 10px;
}

.editInput {
    width:236px;
}
.editInput-half {
    width:118px;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }


#repeaterMap {
    height: 400px;
    width: 400px;
    margin: 30px;
    float: right
}

@media (max-width:1050px) {
    #repeaterMap {
        height: 400px;
        width: 400px;
        margin: 0;
        margin-top: 30px;
 
        float: left
    }
}
#bigRepeaterMap {
    height: calc(100vh - 150px);
    width: 100%;
}

.map-icon {
    height: 75px;
    width: 75px;
    object-fit: contain;
    /* wonky placement as described in the Leaflet documentation*/
    margin-left: -37px;
    margin-top: -37px;
}

.searchTabs {
    
    border: 1px solid black;
}

#modesTable td {
    text-align: center;
    width: 75px;
}


.searchTable {
  
    table-layout: fixed;
    margin-bottom: 0px;

}



.searchContainer {

    width: 525px;

}
.searchContainer-border {
    border: 1px solid gray;


}

.clickable {
    cursor: pointer;
    color: #e0a800;
}
.clickable:hover {
    cursor: pointer;
    color: #2057ad;
}