@page "/"

<h1>Repeater QTH</h1>
<p>
Thanks for trying out Repeater QTH.  This website is dedicated to all the Amateur Radio operators out there.  
<br/><br/>
If you would like to try us out, please do.  You can create a free account with the register button at the top 
at which time you can add or edit repeaters.  The data may get wiped if something bad happens, as this is still in 
alpha, but if everyone plays nice, then it'll be a great place for all.  
<br/><br/>
Just to be safe, all changes are logged. 
<br/><br/>
We know there are many features to add, and we are working on it one day at a time.  Feel free to report issues 
on the github page <a href="https://github.com/jsb2092/RepeaterQTH">https://github.com/jsb2092/RepeaterQTH</a> or if
you fancy yourself a developer, feel free to fork a branch and submit changes if you like.  All are welcome, this is
an open source project after all.

</p>