{
    "connectionString": "mongodb+srv:// < connection string >",
    "geolite-user": "",
    "geolite-key": "",
    "Google-clientID": "",
    "Google-clientSecret": "",
    "SendGridKey": "",
    "TwitterAPIKey": "",
    "TwitterAPISecret": "",
    "MicrosoftClientID": "",
    "MicrosoftSecret: ""
}
